<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <form action="/cool_url" method="post">
    Post Method: Add something to your notes below...
    <br>
    <input type="text" name="user_input">
    <input type="submit"  value="submit!">
    <br>
    <br>
  </form>

  <form action="/cool_url" method="get">
    Gets method: See your notes
    <br>
    <input type="submit"  value="get notes">
  </form> 


</div>
